<!doctype html>
<html lang="en" ng-app="myApp">
<head>
	

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

	<!--     Fonts and icons     -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

	<!-- CSS Files -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/css/material-kit.css" rel="stylesheet"/>
<!-- <link rel="stylesheet" href="../static/css/material.indigo-pink.min.css"> -->
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
</head>

<body style="background-color: #fff" ng-controller='customersCtrl'>
<!-- Button trigger modal -->


<!-- Modal Core -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Staff Details...</h4>
      </div>
      <div class="modal-body">
       <table>
    <tbody>
        <tr>
            <td><img width="60" height="60" src="static/img/test.jpg"></td>
            <td><span style="font-weight: bold;">{a names1.Name a}</span><br>{a names1.Staff_Designation a}<br>{a names1.DOB a}<br> {a names1.Teaching_Exp a} Years Of Expereience</td>
        </tr>
    </tbody>
</table>
<!-- tabs start -->
  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
  	<style type="text/css">a{text-decoration: none!important;margin-left: -8px!important;}</style>
      <a href="#info" class="mdl-tabs__tab is-active">INFO</a>
      <a style="" href="#attnd" class="mdl-tabs__tab">Timetable</a>
      <a href="#tests" class="mdl-tabs__tab">Resualt Analysis</a>
      
  </div>
  <div class="mdl-tabs__panel is-active " id="info">
    <table width="300" cellpadding="10">
    <h5 style="color: #ee6e73">Personal Details</h5>
    <hr style="background-color: #ba68c8;">

<!-- Button trigger modal -->

<!-- Modal Core -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Access Type</h4>
      </div>
      <div class="modal-body">
        <form name="addcustomer" method="POST">
      <div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Select Type</label>
  <div class="col-md-8">
    <select id="selectbasic" name="selectbasic" class="form-control" ng-model="access_type">
      <option value="STAFF">STAFF</option>
      <option value="FA">FA</option>
      <option value="HOD">HOD</option>
      <option value="ADMIN">ADMIN</option>
    </select>
  </div>
</div><br><br><br>
        <a style="float: right;" data-ng-click="access_update(names1.Mobile,access_type)" data-dismiss="modal" name="update" ng-show="update"><i class="material-icons" >done</i></a>
        <br><br><br>
        </form>
      </div>
      <div class="modal-footer">
        <button  type="button" class="btn btn-default btn-simple" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-info btn-simple">Save</button> -->
      </div>
    </div>
  </div>
</div>
          

<tr><th>id no</th><td>{a names1.id_no a}</td></tr>
<tr><th>Name</th><td>{a names1.Name a}</td></tr>
<tr><th>DOB</th><td>{a names1.DOB a}</td></tr>
<tr><th>Gender</th><td>{a names1.Gender a}</td></tr>
<tr><th>Teaching Exp</th><td>{a names1.Teaching_Exp a}</td></tr>
<tr><th>Staff Designation</th><td>{a names1.Staff_Designation a}</td></tr>
<tr><th>Course</th><td>{a names1.Course a}</td></tr>
<tr><th>Faculty type</th><td>{a names1.Faculty_type a}</td></tr>
<tr><th>Doj</th><td>{a names1.Doj a}</td></tr> 
<tr><th>Religion</th><td>{a names1.Religion a}</td></tr>
<tr><th>community</th><td>{a names1.community a}</td></tr>

<tr><th>Access</th><td>{a names1.access a}</td><td><button class="btn btn-primary" data-toggle="modal" data-target="#myModal1">


<i class="material-icons">mode_edit</i></button></td></tr>
</table>
<hr style="background-color: #ba68c8;">
<hr style="background-color: #ba68c8;">
<table width="300" cellpadding="10">
<h5 style="color: #ee6e73">Address</h5>
<hr style="background-color: #ba68c8;">

<tr><th>Father Name</th><td>{a names1.Father_Name a}</td></tr>
<tr><th>Mother Name</th><td>{a names1.Mother_Name a}</td></tr>
<tr><th>Address</th><td>{a names1.Address a}</td></tr>
<tr><th>State</th><td>{a names1.State a}</td></tr>
<tr><th>Mobile</th><td>{a names1.Mobile a}</td></tr>
<tr><th>Email</th><td>{a names1.Email a}</td></tr>

</table>
<hr style="background-color: #ba68c8;">
<hr style="background-color: #ba68c8;">
<table width="300" cellpadding="10">

</table>
<table  cellpadding="10">
<h5 style="color: #ee6e73">Academic Details<br>
<hr style="background-color: #ba68c8;">

<tr><th>Phd</th><td>{a names1.Phd a}</td></tr>
<tr><th>Phd Year</th><td>{a names1.Phd_Year a}</td></tr>
<tr><th>Phd Course</th><td>{a names1.Phd_Course a}</td></tr>
<tr><th>Phd Institution</th><td>{a names1.Phd_Institution a}</td></tr>
<tr><th>Phd University</th><td>{a names1.Phd_University a}</td></tr>
</table>
<hr style="background-color: #ba68c8;">

<table cellpadding="10">
<tr><th>PG</th><td>{a names1.PG a}</td></tr>
<tr><th>PG Course</th><td>{a names1.PG_Course a}</td></tr>
<tr><th>PG Year</th><td>{a names1.PG_Year a}</td></tr>
<tr><th>Pg Institution</th><td>{a names1.Pg_Institution a}</td></tr>
<tr><th>Pg University</th><td>{a names1.Pg_University a}</td></tr>
<tr><th>pgper</th><td>{a names1.pgper a}</td></tr>
</table>
<hr style="background-color: #ba68c8;">
<table cellpadding="10" >
<tr><th>UG</th><td>{a names1.UG a}</td></tr>
<tr><th>Ug Institution</th><td>{a names1.Ug_Institution a}</td></tr>
<tr><th>Ug University</th><td>{a names1.Ug_University a}</td></tr>
<tr><th>ugper</th><td>{a names1.ugper a}</td></tr>
<tr><th>UG Year</th><td>{a names1.UG_Year a}</td></tr>
<tr><th>UG Course</th><td>{a names1.UG_Course a}</td></tr>
</table>
<hr style="background-color: #ba68c8;">
<hr style="background-color: #ba68c8;">
<table cellpadding="10">
<h5 style="color: #ee6e73">Bank Details</h5><hr style="background-color: #ba68c8;">

<tr><th>PAN</th><td>{a names1.PAN a}</td></tr>
<tr><th>DA</th><td>{a names1.DA a}</td></tr>
<tr><th>Gross</th><td>{a names1.Gross a}</td></tr>
<tr><th>Basic</th><td>{a names1.Basic a}</td></tr>
<tr><th>Bank No</th><td>{a names1.Bank_No a}</td></tr>
<tr><th>Bank Branch</th><td>{a names1.Bank_Branch a}</td></tr>
<tr><th>Bank Name</th><td>{a names1.Bank_Name a}</td></tr>
<tr><th>IFSC</th><td>{a names1.IFSC a}</td></tr>
<tr><th>Handi</th><td>{a names1.Handi a}</td></tr>
<!-- <tr><th>photo location</th><td>{a names1.photo_location a}</td></tr> -->
<!-- <tr><th>id</th><td>{a names1.id a}</td></tr> -->
    </table>
   <hr style="background-color: #ba68c8;">
<hr style="background-color: #ba68c8;">

  </div>
  <div class="mdl-tabs__panel" id="attnd">
    <ul>
      <!-- <li>Tywin</li>
      <li>Cersei</li>
      <li>Jamie</li>
      <li>Tyrion</li> -->
    </ul>
  </div>
  <div class="mdl-tabs__panel" id="tests">
    <ul>
     <!--  <li>Viserys</li>
      <li>Daenerys</li> -->
    </ul>
  </div>
  <div class="mdl-tabs__panel" id="univ">
    <ul>
     <!--  <li>Viserys</li>
      <li>Daenerys</li> -->
    </ul>
  </div>
</div>
<!-- tabs end -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-simple" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
  </div>
  
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
    	<div class="navbar-header">
    		<a class="navbar-brand" href=""><i class="material-icons">arrow_back</i></a>
    		<a class="navbar-brand">Staffs</a>
<a class="col-sm-3 input-group navbar-right">
	
		<input type="text" style="color: #fff;" class="form-control" placeholder="Search..." ng-model="search">
			<span class="input-group-addon">
			<i style="color: #fff" class="material-icons">search</i>
		</span> 
	</a>    	</div>

    	
	</div>

</nav><center>
<table class="tabl" cellpadding="20" >
	<style type="text/css">
		.tabl>tbody>tr{border: 2px solid #ddd!important;}
		.tabl>tbody>tr>td{padding: 10px!important;}
	</style>
    <tbody>
        <tr ng-repeat="d in names | filter:search">
            <td class="text-center"><img width="60" height="60" src="static/img/test.jpg">    </td>
            <td class="text-center" data-toggle="modal" data-target="#myModal" ng-click="view(d.id,$index)"><span style="font-weight: bold;">{a d.Name a}</span><br>{a d.staff_des a} / {a d.Course a}<br>{a d.id_no a}</td>
            <td></td>
            
            
        </tr>

    </tbody>
</table></center>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js">
</script>
<script>
var uid = 1;
var app = angular.module('myApp', []);
   app.controller('customersCtrl', function($scope, $http) {

$scope.add=true;
$scope.update=true;

$http.get("/staff.json")
.success(function (data) {
  
    $scope.samp={};
  $scope.names = data;
});
$scope.view = function view(id,index) {
      $scope.names1 = angular.copy($scope.names[index]);
}
$scope.access_update=function access_update(Mobile,access_type){
  // alert(Mobile+access_type);
  var va={"Mobile":Mobile,"access_type":access_type};
  $http.post("/access_update",va).success(function (res) {
    $scope.res=res;
    alert(res);
  });

}


    });
   app.config(['$interpolateProvider', function($interpolateProvider) {
  $interpolateProvider.startSymbol('{a');
  $interpolateProvider.endSymbol('a}');
}]);


</script>
</body>
	<!--   Core JS Files   -->
	<script src="../static/js/jquery.min.js" type="text/javascript"></script>
	<script src="../static/js/bootstrap.min.js" type="text/javascript"></script>
	<script defer type="text/javascript" src="https://code.getmdl.io/1.3.0/material.min.js"></script>

</html>
